body {
	background-color:#1C1C1C;
	overflow-x:hidden;
	overflow-y:auto;
	color: white;
}

form{
	margin-bottom: 0px;
}

textarea{
	font-size: 12px;
	resize: none;
	height: auto;
	width: 300px;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: white;
	background-color: #424242;
}

input[type="text"]{
	font-size: 24px;
	height: 50px;
	width: 100%;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	color: white;
	background-color: #424242;
}

input[type="number"]{
	font-size: 12px;
	height: 23px;
	width: 58px;
	border: 1px solid #bcbcbc;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: white;
	background-color: #424242;
}

.topic{
	animation-duration: 0.7s;

	z-index: 0;
	position: relative;
	margin: 5px;
	max-width:750px;
	max-height: 45px;

	border: 1px solid #0A0A2A;
	padding:5px;
	overflow:hidden;
	background-color: #424242;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

table{
	border-collapse: collapse;
	margin-bottom: 5px;
	background-color: #151515;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
td, tr{
	border: 1px solid gray;
	padding: 5px;
}